
p {
  text-align: center;
}

.forms {
  height: 500px;
  width: 760px;
  background-color:rgb(218, 211, 211);
  border-radius: 7px;
  margin-top: 50px;
}

#btn {
  background-color: aquamarine;
}

/* #article_content{
  width: 450px;
  height: 200px;
} */

/* .toto {
  background-color: aquamarine;
} */

h1 {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: Montserrat;
}

.formulaire {
  width: 40%;
  height: 60%;
  margin-top: 100px;
  background-color: #d5dbdb ;
  color:black;
  border-radius: 6px;
  border: solid gray 1px;
  padding-top: 10px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 10px;
  
}

a {
  color: black;
}

.title-page{
  color: #9ea3a5;
  margin-left: 10px;
  border-bottom: solid 1px black;
}

#block {
  padding: 50px;
}

.titl {
  color: aliceblue;
  font-size: 30px;
}

.catego {
  text-decoration: underline   orangered ;
}
.btnSub {
  margin-bottom: 10px;
}

.upt {
margin-bottom: 3px;
}

.del {
margin-bottom:  10px;
}