{% extends "base.html.twig" %}


{% block content %}
{% block chemin %}<h6 class="title-page">/article</h6>{% endblock chemin %}

<div class="container formulaire">
  <p class="titl">{{article.title}}</p>
  <p>{{article.content}}</p>
  <p class="catego text-left"><small>Category: {{article.category}}</p></small>
</div>
{% endblock content %}




