<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My blog{% endblock %}</title>
        {% block stylesheets %}{% endblock stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    </head>
    <body>
        
        {% block header %}
        {% include "_header.html.twig" %}
        {% endblock header %}
        
        <h1 class="mb-4">{% block titre %}My_1#_blog{% endblock titre %}</h1>

        <main>
            {% block content %}
                
            {% endblock content %}
        </main>
        
        {# {% block footer %}
    <footer>
        Et moi, un footer !
    </footer>
    {% endblock footer %} #}


        
        {% block javascripts %}{% endblock %}
    </body>
</html>
